name: Release

on:
  push:
    branches:
      - master

jobs:
  version:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@16a9c90856f42705d54a6fda1823352bdc62cf38 # v4.4.0
        id: release-please
        with:
          release-type: node
    outputs:
      release_created: ${{ steps.release-please.outputs.release_created }}

  publish:
    runs-on: ubuntu-latest
    needs: [version]
    permissions:
      contents: write
      id-token: write
    if: ${{ needs.version.outputs.release_created }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: ./.github/actions/setup

      - name: Build
        run: pnpm run build

      - name: Publish to NPM
        run: pnpm publish
